.title {
	color: #262626;
	text-align: center	;
	font-size: 5em;
}

.main-section {
	margin-top: 3em;
	text-align: center;
}

.search-username-input {
	font-size: 2em
}

.back-button, .save-button{
	font-size: 1.2em;
	background: white;
	border: white;
	cursor: pointer;
}

.profile-image-options{
	width: 60%;
	display: flex;
	font-size: 2em;
	justify-content: space-evenly;
	margin-bottom: 2em;
}

.username {
	margin-bottom: 0.5em;
	font-size: 3em;
}
.profile-image {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1em;
}
