.special-font {
	font: 1em arial,sans-serif;
}

.main-section {
	margin-top: 3em;
	text-align: center;
}

.title {
	color: #262626;
	text-align: center	;
	font-size: 5em;
	margin-top: 3%;
	cursor: default;
}


